In [5]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 用range快速生成list

In [6]:
list(range(1, 11 ,2))

[1, 3, 5, 7, 9]

In [7]:
list('ABCDEF')

['A', 'B', 'C', 'D', 'E', 'F']

In [8]:
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### For 迴圈

In [21]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [22]:
s = 0
for i in range(1,101):
    s = s + i
print(s)

5050

### list append

In [26]:
prices = [1024, 399, 20000]

In [27]:
c = 34.1415677

In [28]:
for p in price:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [10]:
L = []

In [12]:
L

[]

In [13]:
L.append(87)

In [14]:
L

[87]

In [34]:
K = []

In [35]:
K.append('A')

In [36]:
K.append('P')

In [37]:
K.append('P')

In [38]:
K

['A', 'P', 'P']

In [39]:
F = []

In [44]:
for p in price:
    F.append(p*c)

In [45]:
F

[682831.354, 34960.9653248, 13622.485512300002, 682831.354]

In [46]:
spam = input('輸入你要買的東西的價格：')

輸入你要買的東西的價格：1024,399,20000,600

In [47]:
spam

'1024,399,20000,600'

In [49]:
data = spam.split(',')

In [50]:
data

['1024', '399', '20000', '600']

In [53]:
for p in data:
    p = float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [54]:
spam = input('價格：')

價格：123, 456, 789

In [55]:
KRW = spam.split(',')

In [56]:
W = 0.0258588615

In [58]:
for p in KRW:
    p = float(p)
    print(p*W)

3.1806399645
11.791640844
20.4026417235

In [59]:
p_list = []
spam = input('輸入你要買的東西的價格：')
data = spam.split(',')

for p in data:
    p = float(p)
    p_list.append(p*c)
    print('價格', int(p*c), '台幣')

輸入你要買的東西的價格：399,200,9487,249
價格 13622 台幣
價格 6828 台幣
價格 323901 台幣
價格 8501 台幣

In [60]:
p_list

[13622.485512300002, 6828.313540000001, 323901.0527699, 8501.250357300001]

In [61]:
spam.split(' ')

['399,200,9487,249']

In [20]:
def exchange(p):
    p = float(p)
    return p*c

In [30]:
exchange('399')

13622.485512300002

### map

map(f,L)

把f函數做用到L list中的每一個元素

In [15]:
L ='333 1024 488 20000'.split()

In [16]:
L

['333', '1024', '488', '20000']

In [28]:
list(map(exchange, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 緊急用的函數 lambda

In [15]:
def f(x):
    return x**2

In [16]:
f(2)

4

In [17]:
g = lambda x:x**2

In [22]:
g(3)

9

In [18]:
L

['333', '1024', '488', '20000']

In [32]:
list(map(lambda p:float(p)*c, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [35]:
egg = [9,4,8,7]

In [36]:
list(map(lambda egg:float(egg)*2+1, egg))

[19.0, 9.0, 17.0, 15.0]

In [37]:
grades =[47, 56, 60, 75]

In [20]:
list(map(lambda g:np.sqrt(g)*10, grades))

NameError: name 'grades' is not defined

### list comprehension

In [17]:
L

['333', '1024', '488', '20000']

In [19]:
[float(p)*c for p in L]

NameError: name 'c' is not defined