In [26]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 用range快速生成list

In [2]:
list(range(1, 11 ,2))

[1, 3, 5, 7, 9]

In [3]:
list('ABCDEF')

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### For 迴圈

In [5]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [6]:
s = 0
for i in range(1,101):
    s = s + i
print(s)

5050

### list append

In [7]:
prices = [1024, 399, 20000]

In [7]:
c = 34.1415677

In [9]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [10]:
L = []

In [11]:
L

[]

In [12]:
L.append(87)

In [13]:
L

[87]

In [14]:
K = []

In [15]:
K.append('A')

In [16]:
K.append('P')

In [17]:
K.append('P')

In [18]:
K

['A', 'P', 'P']

In [19]:
F = []

In [20]:
for p in price:
    F.append(p*c)

NameError: name 'price' is not defined

In [21]:
F

[]

In [23]:
spam = input('輸入你要買的東西的價格：')

輸入你要買的東西的價格：444,556,778

In [24]:
spam

'444,556,778'

In [25]:
data = spam.split(',')

In [26]:
data

['444', '556', '778']

In [1]:
for p in data:
    p = float(p)
    print(p*c)

NameError: name 'data' is not defined

In [2]:
spam = input('價格：')

價格：233,556,778

In [3]:
KRW = spam.split(',')

In [4]:
W = 0.0258588615

In [5]:
for p in KRW:
    p = float(p)
    print(p*W)

6.0251147295
14.377526994
20.118194247

In [8]:
p_list = []
spam = input('輸入你要買的東西的價格：')
data = spam.split(',')

for p in data:
    p = float(p)
    p_list.append(p*c)
    print('價格', int(p*c), '台幣')

輸入你要買的東西的價格：33346,77888,456789
價格 1138484 台幣
價格 2659218 台幣
價格 15595492 台幣

In [9]:
p_list

[1138484.7165242, 2659218.4250176004, 15595492.568115301]

In [10]:
spam.split(' ')

['33346,77888,456789']

In [11]:
def exchange(p):
    p = float(p)
    return p*c

In [12]:
exchange('399')

13622.485512300002

### map

map(f,L)

把f函數做用到L list中的每一個元素

In [13]:
L ='333 1024 488 20000'.split()

In [14]:
L

['333', '1024', '488', '20000']

In [15]:
list(map(exchange, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 緊急用的函數 lambda

In [16]:
def f(x):
    return x**2

In [17]:
f(2)

4

In [18]:
g = lambda x:x**2

In [19]:
g(3)

9

In [20]:
L

['333', '1024', '488', '20000']

In [21]:
list(map(lambda p:float(p)*c, L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [22]:
egg = [9,4,8,7]

In [23]:
list(map(lambda egg:float(egg)*2+1, egg))

[19.0, 9.0, 17.0, 15.0]

In [24]:
grades =[47, 56, 60, 75]

In [27]:
list(map(lambda g:np.sqrt(g)*10, grades))

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

### list comprehension

In [29]:
L

['333', '1024', '488', '20000']

In [28]:
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 合併 list

In [30]:
L

['333', '1024', '488', '20000']

In [34]:
s =''

for i in L:
    s = s + i + ','

In [35]:
s

'333,1024,488,20000,'

In [47]:
s.rstrip(',')

'333,1024,488,20000'

In [38]:
s

'333,1024,488,20000,'

In [50]:
s = s.rstrip(',')

In [51]:
s

'333,1024,488,20000'

In [52]:
s[0]

'3'

In [53]:
','.join(L)

'333,1024,488,20000'

### 物件中的 method

In [55]:
egg = [12,45,63,67,34]

In [56]:
egg.sort()

In [57]:
egg

[12, 34, 45, 63, 67]

In [58]:
ham = '今天天氣很好'

In [59]:
ham[3]

'氣'

In [60]:
ham[::2]

'今天很'

In [61]:
ham[::-1]

'好很氣天天今'

In [72]:
from ipywidgets import interact

In [93]:
def move(n):
    print(' '*n + '><')
def move(o):
    print(' '*o + '(☉д⊙)')

In [5]:
interact(move, n=(1,40))

NameError: name 'interact' is not defined

In [3]:
k = input('請輸入你的學號系級姓名：')

請輸入你的學號系級姓名：105305072 企管四 許惠甄